back/node_modules
back/uploads/**
back/prisma/migrations
!back/prisma/migrations/migration_lock.toml
*.env*
/dist
package-lock.json
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
test-imgs/**
