@import "../../../../assets/colors.scss";

.grid-card-container {
  display: flex;
  flex-direction: column;
  background-color: $background1;
  box-shadow: 1px 0 $border, 0 1px $border;
  width: 300px;
  height: 350px;
  align-items: center;
  img {
    height: 70%;
    max-width: 100%;
    object-fit: contain;
  }
  .grid-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 90%;

    .grid-card-name {
      display: flex;
      justify-content: center;
      font-size: 22px;
    }
    .grid-card-tags {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 16px;
      div {
        margin: 0 5px 0 5px;
      }
    }
  }
}
