@import "../../../../../../assets/colors.scss";

.user-menu-container {
  position: absolute;
  top: 56px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 70%;
  background: $background2;
  border-left: 1px solid $border;
  border-bottom: 1px solid $border;
  .user-menu-item {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    img {
      max-height: 36px;
      max-width: 36px;
    }
    &:last-child {
      margin-top: 10px;
      width: fit-content;
    }
  }
}
