version: '4.21.1'
services:
  postgres:
    image: postgres
    ports: 
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: flopify
    networks:
      - example
networks:
  example: