.edit-item-slider-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  .img-carousel {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    img {
      max-width: 100%;
    }
    input {
      font-size: 20px;
    }
  }
}
