@import "../../../../assets/colors.scss";

.add-card-container {
  box-shadow: 1px 0 $border, 0 1px $border;
  width: 300px;
  height: 350px;
  background-color: $background1;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 90%;
    width: 90%;
    object-fit: cover;
  }
}
