@import "../../../assets/colors.scss";

.edit-shop-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .shop-page-header {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    justify-content: space-between;
    .image-container {
      display: flex;
      flex-direction: column;
      img {
        max-height: 128px;
        max-width: 128px;
        margin-right: 10px;
      }
      input {
        display: flex;
      }
    }
    .shop-info {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100%;
      .title {
        font-size: 32px;
        text-align: left;
      }
    //   .tags {
    //     display: flex;
    //     justify-content: left;
    //     w
    //     .tag {
    //       font-size: 16px;
    //       background: $background2;
    //       border-radius: 5px;
    //     }
    //   }
    }
    .browse-items-link {
      display: flex;
      font-size: 28px;
      align-items: center;
      img {
        max-height: 48px;
        max-width: 48px;
        margin-right: 5px;
      }
    }
    .submit-button {
        height: fit-content;
    }
  }
}
